<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="py-5 text-center bg-secondary text-white">
    <h1>로그인</h1>
</div><hr>
<form role="form" action="/login" method="post" class="bg-success p-2 text-black bg-opacity-50">
    <div class="form-floating mb-3">
        <label for="inputEmail">Email</label>
        <input id="inputEmail" name="email"
               type="text" class="form-control" placeholder="aaa@gmail.com">
    </div>
    <div class="form-floating">
        <label for="inputPassword">Password</label>
        <input id="inputPassword" name="password"
               type="password" class="form-control">
    </div><br>
    <button class="btn btn-primary btn-lg" type="submit">Login</button>
</form>
<script src="../js/bootstrap.min.js"></script>
<script src="../css/bootstrap.min.css"></script>
</body>
</html>